<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restablecer Contraseña</title>
  <link rel="stylesheet" type="text/css" href="Public\Css\ResetPassword.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<body>
  <div class="container" id="container">
    <div class="form-container reset-password-container">
      <form id="resetPasswordForm">
        <h1>Restablecer Contraseña</h1>
        <div class="form-control">
          <input type="email" id="reset-email" placeholder="Correo electrónico" />
          <small id="reset-email-error"></small>
          <span></span>
        </div>
        <button type="submit" value="submit">Enviar enlace de restablecimiento</button>
      </form>
    </div>

    <div class="form-container new-password-container">
      <form id="newPasswordForm">
        <h1>Ingresa una nueva contraseña</h1>
        <div class="form-control">
          <input type="password" id="new-password" placeholder="Nueva contraseña" />
          <small id="new-password-error"></small>
          <span></span>
        </div>
        <div class="form-control">
          <input type="password" id="confirm-password" placeholder="Confirmar contraseña" />
          <small id="confirm-password-error"></small>
          <span></span>
        </div>
        <button type="submit" value="submit">Cambiar Contraseña</button>
      </form>
    </div>
  </div>
  <script src="Public\Js\resetpassword.js" type="text/javascript"></script>
</body>
</html>
