
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventify</title>
    <link rel="stylesheet" href="Public\Css\Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./splide-4.1.3/dist/css/splide.min.css">
    <script src="./splide-4.1.3/dist/js/splide.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <p class="logot"><a href="Views\User\index.ejs" class="link">EVENTIFY</a></p>
        </div>
        <nav class="nav">
            <ul class="list">
                <li class="item">
                    <a href="/index" class="link">INICIO</a>
                </li>
                <li class="item">
                    <a href="/user/salones" class="link">SALONES</a>
                  </li>
                  
                <li class="item">
                    <a href="#" class="link">INVITACIONES</a>
                </li>
                <li class="item">
                    <a href="#" class="link">PAGOS</a>
                </li><li class="item">
                    <a href="/Login" class="link">INICIAR SESIÓN</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="fondo">
        <img src="Public\img\ImgPrincipal\Fondo.jpg" class="img">
        <div class="title">
            <p class="text">VEN A CREAR MOMENTOS INOLVIDABLES</p>
        </div>
    </div>
    <div class="txt">
        <p class="titulo">HOLA, BIENVENIDOS A EVENTIFY</p>
        <p class="parrafo">Eventify, es una página en donde podrás encontrar salas de eventos para cualquier ocasión que necesites, conociendo la ubicación del salón en donde vas a realizar tu evento, podrás montar una foto de los momentos que vivas en cada reserva que hagas y además de esto, podrás hacer tu propia invitación personalizada para tus acompañantes o invitados.</p>
        <button class="btn" type="submit" id="">INICIAR</button>
    </div>
    <h2 class="title-major">SALONES DISPONIBLES</h2>
    <div class="container splide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="content">
                        <div class="image-s">
                            <img src="Public\img\ImgPrincipal\SalonN.jpg" alt="" class="image-salon">
                        </div>
                        <p class="title-salon">SALÓN NOCTURNO</p>
                        <p class="text-salon">El Salón Nocturno ofrece el escenario perfecto para todo tipo de ocasiones especiales, desde bodas íntimas hasta eventos corporativos de alto nivel. Su atención meticulosa al detalle y su servicio personalizado garantizan que cada evento sea inolvidable.</p>
                        <button class="btn-salon" type="submit" id="">INFORMACIÓN</button>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="content">
                        <div class="image-s">
                            <img src="Public\img\ImgPrincipal\SalonA.jpg" alt="" class="image-salon">
                        </div>
                        <p class="title-salon">SALÓN AURORA</p>
                        <p class="text-salon">El Salón Aurora ofrece un escenario luminoso y acogedor para celebrar momentos especiales, desde ceremonias íntimas hasta recepciones majestuosas. Su atención impecable a los detalles y su ambiente sereno hacen que cada evento sea una experiencia mágica.</p>
                        <button class="btn-salon" type="submit" id="">INFORMACIÓN</button>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="content">
                        <div class="image-s">
                            <img src="Public\img\ImgPrincipal\SalonB.jpg" alt="" class="image-salon">
                        </div>
                        <p class="title-salon">SALÓN BRILLANTE</p>
                        <p class="text-salon">El Salón Brillante ofrece el telón de fondo perfecto para eventos que van desde fiestas de cumpleaños hasta lanzamientos de productos. Su equipo dedicado y su servicio profesional garantizan que cada ocasión sea un espectáculo deslumbrante.</p>
                        <button class="btn-salon" type="submit" id="">INFORMACIÓN</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="/Public/Js/splide.js"></script>
</html>