<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salones</title>
    <link rel="stylesheet" href="/Public/Css/salones.css">
    <link rel="stylesheet" href="/Public/Css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap" rel="stylesheet">
</head>
<body>
    <header id="menu">
        <div class="logo">
            <p class="logot"><a href="./index.html" class="link">EVENTIFY</a></p>
        </div>
        <nav class="nav">
            <ul class="list">
                <li class="item">
                    <a href="/index" class="link">INICIO</a>
                </li>
                <li class="item">
                    <a href="./salones.html" class="link">SALONES</a>
                </li>
                <li class="item">
                    <a href="#" class="link">PAGOS</a>
                </li>
                <li class="item">
                    <a href="./login.html" class="link">INICIAR SESIÓN</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/ImgPrincipal/SalonA.jpg" alt="" class="img">
            </div>
            <div class="info">
                <p class="text">BELLO, ANTIOQUÍA</p>
                <p class="text">SALÓN AURORA</p>
                <p class="text">$200.000 COP NOCHE</p>
                <p class="text">CAPACIDAD: 100 PERSONAS</p>
            </div>
            <button class="btn">MÁS INFORMACIÓN</button>
        </div>
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/ImgPrincipal/SalonA.jpg" alt="" class="img">
            </div>
            <div class="info">
                <p class="text">BELLO, ANTIOQUÍA</p>
                <p class="text">SALÓN AURORA</p>
                <p class="text">$200.000 COP NOCHE</p>
                <p class="text">CAPACIDAD: 100 PERSONAS</p>
            </div>
            <button class="btn">MÁS INFORMACIÓN</button>
        </div>
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/ImgPrincipal/SalonA.jpg" alt="" class="img">
            </div>
            <div class="info">
                <p class="text">BELLO, ANTIOQUÍA</p>
                <p class="text">SALÓN AURORA</p>
                <p class="text">$200.000 COP NOCHE</p>
                <p class="text">CAPACIDAD: 100 PERSONAS</p>
            </div>
            <button class="btn">MÁS INFORMACIÓN</button>
        </div>
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/ImgPrincipal/SalonA.jpg" alt="" class="img">
            </div>
            <div class="info">
                <p class="text">BELLO, ANTIOQUÍA</p>
                <p class="text">SALÓN AURORA</p>
                <p class="text">$200.000 COP NOCHE</p>
                <p class="text">CAPACIDAD: 100 PERSONAS</p>
            </div>
            <button class="btn">MÁS INFORMACIÓN</button>
        </div>
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/ImgPrincipal/SalonA.jpg" alt="" class="img">
            </div>
            <div class="info">
                <p class="text">BELLO, ANTIOQUÍA</p>
                <p class="text">SALÓN AURORA</p>
                <p class="text">$200.000 COP NOCHE</p>
                <p class="text">CAPACIDAD: 100 PERSONAS</p>
            </div>
            <button class="btn">MÁS INFORMACIÓN</button>
        </div>
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/ImgPrincipal/SalonA.jpg" alt="" class="img">
            </div>
            <div class="info">
                <p class="text">BELLO, ANTIOQUÍA</p>
                <p class="text">SALÓN AURORA</p>
                <p class="text">$200.000 COP NOCHE</p>
                <p class="text">CAPACIDAD: 100 PERSONAS</p>
            </div>
            <button class="btn">MÁS INFORMACIÓN</button>
        </div>
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/ImgPrincipal/SalonA.jpg" alt="" class="img">
            </div>
            <div class="info">
                <p class="text">BELLO, ANTIOQUÍA</p>
                <p class="text">SALÓN AURORA</p>
                <p class="text">$200.000 COP NOCHE</p>
                <p class="text">CAPACIDAD: 100 PERSONAS</p>
            </div>
            <button class="btn">MÁS INFORMACIÓN</button>
        </div>
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/ImgPrincipal/SalonA.jpg" alt="" class="img">
            </div>
            <div class="info">
                <p class="text">BELLO, ANTIOQUÍA</p>
                <p class="text">SALÓN AURORA</p>
                <p class="text">$200.000 COP NOCHE</p>
                <p class="text">CAPACIDAD: 100 PERSONAS</p>
            </div>
            <button class="btn">MÁS INFORMACIÓN</button>
        </div>
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/ImgPrincipal/SalonA.jpg" alt="" class="img">
            </div>
            <div class="info">
                <p class="text">BELLO, ANTIOQUÍA</p>
                <p class="text">SALÓN AURORA</p>
                <p class="text">$200.000 COP NOCHE</p>
                <p class="text">CAPACIDAD: 100 PERSONAS</p>
            </div>
            <button class="btn">MÁS INFORMACIÓN</button>
        </div>
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/ImgPrincipal/SalonA.jpg" alt="" class="img">
            </div>
            <div class="info">
                <p class="text">BELLO, ANTIOQUÍA</p>
                <p class="text">SALÓN AURORA</p>
                <p class="text">$200.000 COP NOCHE</p>
                <p class="text">CAPACIDAD: 100 PERSONAS</p>
            </div>
            <button class="btn">MÁS INFORMACIÓN</button>
        </div>
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/ImgPrincipal/SalonA.jpg" alt="" class="img">
            </div>
            <div class="info">
                <p class="text">BELLO, ANTIOQUÍA</p>
                <p class="text">SALÓN AURORA</p>
                <p class="text">$200.000 COP NOCHE</p>
                <p class="text">CAPACIDAD: 100 PERSONAS</p>
            </div>
            <button class="btn">MÁS INFORMACIÓN</button>
        </div>
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/ImgPrincipal/SalonA.jpg" alt="" class="img">
            </div>
            <div class="info">
                <p class="text">BELLO, ANTIOQUÍA</p>
                <p class="text">SALÓN AURORA</p>
                <p class="text">$200.000 COP NOCHE</p>
                <p class="text">CAPACIDAD: 100 PERSONAS</p>
            </div>
            <button class="btn">MÁS INFORMACIÓN</button>
        </div>
    </div>
</body>
<script src="/Public/Js/header.js"></script>
</html>